@media screen and (min-width: 768px) and (max-width: 992px){
    article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
        padding: 0 20px;
        
    }
}
@media screen and (min-width: 480px) and (max-width: 768px){
    /* start header styles */
    .banner-section{
        display: grid;
        grid-template-columns:1fr;
        grid-row-gap: 40px;
        padding: 0 20px;        
    }
    .container{
        width: 100%;
    }
    /* start players styles */
    article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
        padding: 0 20px;
        
    }
    
    .player .player-photo img{
        width: 100%;
       
    }
    /* start highligh section  */
    #highlight-section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 20px;
       
    }
    /* start footer styles */
    .footer-section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 50px 20px;

    }
    .footer-section p{
        text-align: center;
    }
}

    
    
@media screen and (min-width: 0px) and (max-width: 480px){
    .container{
        width:100%;
    }
    
    /* header section styles */
    .main-navbar{
        display: none;
    }
    .banner-section{
        display: grid;
        grid-template-columns:1fr;
        grid-row-gap: 40px;
        padding: 0 20px;        
    }
    .banner-section .banner-content h2{
        width: 100%;
        height: 150px;
        font-size: 50px;
        padding-bottom: 70px;
        
    }
    
    .banner-section .banner-image img{
        width: 90%;
        
    } 
    
    /* player section styles */

    article{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        padding: 0 20px;
        
    }
     p{
        width: 300px;
    }
    .player .player-photo img{
        width: 100%;
        
        
        
    }
    #highlight-section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 20px;
       
    }
    #highlight-section h2{
        font-size: 40px;
    }
    #highlight-section img{
        width: 100%;
    }

    .footer-section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 50px 20px;

    }
    .footer-section p{
        text-align: center;
    }
  }
